---
---

//
// IMPORTS
//
@import "variables";

/* --------------------------------- */
/*            Css Styles             */
/*---------------------------------- */

/*
	Sergio Pomárico Resume
	Author : Sergio Pomárico Hernández
	Copyright 2016
*/

/*         Table of Content
=======================================

	1. Body and Core CSS
	2. Profile
	3. Menu
	4. Content
	5. About Page
	6. Resume Page
	7. Portfolio Page
  8. Responsive

=======================================


------------------------ 1 Body and Core CSS ------------------------*/

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  background: url(../img/bg.png) $bg center fixed;
}

a {
  text-decoration: none;
  &:focus,
  &:active {
    text-decoration: none;
    outline: none;
  }
}

p {
  font-size: 14px;
}

*:focus {
  outline: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 30px;
  margin: 60px auto;
  max-width: 1140px;
}

ul {
  padding-left: 0;
  li {
    list-style: none;
  }
}

/*preloader*/

#preloader {
  align-items: center;
  background-color: $indigo;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

/*------------------------ 2 Profile ------------------------*/

.profile-image {
  width: 100%;
  box-shadow: $shadow;
  img {
    width: 100%;
  }
}

.profile-info {
  text-align: center;
  background: $white;
  box-shadow: $shadow;
  h1 {
    font-size: 20px;
    font-weight: 900;
  }
  .social-icons {
    padding: 20px;
    a {
      border: solid 1px $lightGray;
      border-radius: 50%;
      color: $lightGray;
      display: inline-block;
      height: 2.25rem;
      margin-right: 5px;
      text-align: center;
      width: 2.25rem;
      &:hover {
        transition: all ease-in-out 0.5s;
      }
    }
  }
}

.name-job {
  padding: 1.6em 0;
  border-bottom: 1px dashed $border;
}

.job {
  color: #c1c1c1;
  font-weight: 400;
  line-height: 30px;
}

/*------------------------ 3  Menu ------------------------*/

ul.menu {
  width: 100%;
  background: #fff;
  padding-left: 0;
  display: inline-block;
  box-shadow: $shadow;
  li {
    list-style: none;
    float: left;
    width: 25%;
    text-align: center;
    border-right: 1px dashed #cccccc;
    &:last-child {
      border-right: 0;
    }
    a {
      color: $black;
      padding: 45px 0 40px 0;
      display: inline-block;
      line-height: 30px;
      display: block;
      &:hover {
        transition: all ease-in-out 0.5s;
      }
      i {
        font-size: 30px;
      }
    }
  }
}

/*------------------------ 4 Content ------------------------*/

.content {
  background: #fff;
  margin-top: 30px;
  box-shadow: $shadow;
}

.page-title {
  border-bottom: 1px dashed #cccccc;
  padding: 30px;

  h2 {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
  }
}

.page {
  padding-top: 30px;
  padding-bottom: 90px;
  display: inline-block;
  min-height: 430px;
}

.section-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}

.footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  left: 0;
  border-top: 1px dashed #cccccc;
  p {
    color: #b4b4b4;
    font-size: 13px;
  }
}
/*------------------------ 5 About Page ------------------------*/

.page ul.info-list li {
  list-style: none;
  font-size: 14px;
  line-height: 35px;
  span {
    color: #7f7f7f;
  }
}

ul.skill-list {
  h3 {
    display: block;
    margin-bottom: 0;
    font-size: 14px;
    color: #000;
    font-weight: bold;
  }
  li {
    list-style: none;
  }
}

.progress {
  margin: 15px 0;
  display: block;
  height: 6px;
  position: relative;
  width: 100%;
  overflow: visible;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 0;
  .percentage {
    border-radius: 50px 0 0 50px;
    bottom: 0;
    position: absolute;
    top: 0;
  }
}

.about-text {
  margin-top: 60px;
  p {
    color: #7f7f7f;
    line-height: 24px;
    font-size: 14px;
  }
}

.services {
  margin-top: 60px;
  display: inline-block;
  .service {
    margin-bottom: 30px;
    i {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      cursor: pointer;
      text-align: center;
      display: inline-block;
      padding: 6px;
      float: left;
      color: #fff;
      font-size: 30px;
      margin-right: 10px;
    }
    p {
      font-size: 14px;
      color: #7f7f7f;
    }
    span {
      padding-top: 6px;
      display: inline-block;
      line-height: 20px;
      font-size: 16px;
    }
  }
}
/*------------------------ 6 Resume Page ------------------------*/

.resume-education {
  margin-bottom: 30px;
}

.rounded-icon i {
  width: 55px;
  text-align: center;
  padding: 20px 0;
  font-size: 15px;
  color: #fff;
  border-radius: 50%;
}

.resume-out {
  padding-left: 25px;
}

.resume-info {
  border-left: 2px solid #e5e5e5;
  padding: 0 0 10px 30px;
  p {
    color: #7f7f7f;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
}

.info-title {
  font-weight: 600;
  font-size: 16px;
  margin-top: 0;
  &:after {
    content: "";
    width: 10px;
    height: 10px;
    float: left;
    border-radius: 50px;
    margin: 0px 9px 0 -36px;
  }
  &:first-child {
    padding-top: 50px;
  }
  &:last-child {
    border: 0;
    &:after {
      margin: 0px 9px 0 -34px;
    }
  }
}

.info-date {
  font-size: 14px;
  padding: 6px 0;
  display: block;
}

/*------------------------ 7 Portfolio Page ------------------------*/
.portfolio_filter {
  margin-top: 20px;
  li {
    float: left;
    list-style: none;
    cursor: pointer;
    font-size: 14px;
    margin-right: 20px;
    color: #c1c1c1;
    &:last-child {
      margin-right: 0px;
    }
  }
}
.portfolio_items {
  margin-bottom: 20px;
  min-width: 400px;
  margin: 45px 15px;
  .single_item {
    margin-bottom: 30px;
    img {
      width: 100%;
    }
  }
}

.work-overlay {
  position: absolute;
  text-align: center;
  color: #fff;
  padding: 25px;
  width: 100%;
  height: 100%;
  padding-top: 32%;
  opacity: 0;
  transition: all 0.5s ease;
  h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  p {
    font-size: 14px;
    opacity: 0.8;
  }
  a.link {
    background: #fff;
    margin: 0 auto;
    display: inline-block;
    width: 45px;
    height: 45px;
    padding-top: 12px;
    margin-top: 24px;
    margin-right: 7px;
    transition: all 0.5s ease;
    transform: translateY(200px);
    border-radius: 30px;
    color: #000000 !important;
  }
  a.lightbox {
    background: #fff;
    margin: 0 auto;
    display: inline-block;
    width: 45px;
    height: 45px;
    padding-top: 12px;
    margin-top: 24px;
    transition: all 0.5s ease;
    transform: translateY(200px);
    border-radius: 30px;
    color: #000000 !important;
  }
}

.work-inner {
  position: relative;
  overflow: hidden;
  &:hover > .work-overlay {
    background: rgba(0, 0, 0, 0.63);
    opacity: 1;
    transition: all 0.5s ease;
  }
  &:hover > .work-overlay a.link {
    color: #fff;
    transform: translateY(0px);
    transition: all 0.1s ease;
    transition-duration: 0.3s;
  }
  &:hover > .work-overlay a.lightbox {
    color: #fff;
    background: #fff;
    transform: translateY(0px);
    transition: all 0.1s ease;
    transition-duration: 0.6s;
  }
}

.work-detail {
  margin-bottom: 30px;
  p {
    color: #7f7f7f;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 21px;
  }
}

.works-image {
  margin-bottom: 30px;
  img {
    width: 100%;
  }
}

/*------------------------ 10 Responsive ------------------------*/

@media screen and (max-width: 991px) {
  .profile {
    margin-bottom: 30px;
  }

  .my-skills {
    margin-top: 30px;
  }

  .contact-info {
    margin-top: 30px;
  }
}

/*Max Width 767px */
@media screen and (max-width: 767px) {
  .profile {
    margin-bottom: 30px;
  }

  .my-skills {
    margin-top: 30px;
  }

  .services .service span {
    width: 100%;
    text-align: center;
  }

  .services .service {
    text-align: center;
  }

  .services .service i {
    float: none;
  }
  .indigo-button {
    font-size: 12px;
  }
}

@media only screen and (max-width: 479px) {
  ul.menu li i {
    font-size: 23px;
  }

  ul.menu li a {
    padding: 27px 0 23px 0;
  }

  #wrapper {
    margin: 15px 0;
  }

  .page-title {
    border-bottom: 1px dashed #cccccc;
    padding: 30px;
    display: inline-block;
    text-align: center;
    width: 100%;
  }

  .portfolio_filter li {
    float: none;
    text-align: center;
    width: 100%;
  }

  .portfolio_filter {
    width: 100%;
    margin-top: 15px;
    line-height: 26px;
  }

  .user-img {
    display: none;
  }

  .portfolio_items .single_item img {
    max-width: 300px;
  }

  .work-overlay {
    padding: 10px;
  }

  .portfolio_items {
    margin-left: 5px;
    margin-right: 5px;
  }
  .single_item {
    padding: 0;
  }
}

// 404 styles
.error {
  text-align: center;
  h1 {
    text-transform: uppercase;
    color: $indigo;
  }
  p {
    font-size: 16px;
    color: #7f7f7f;
  }
}

//
// IMPORTS
//
@import "theme";
