---
---

//
// IMPORTS
//
@import "variables";
@import "icons";
@import "animations";

/* --------------------------------- */
/*            Css Styles             */
/*---------------------------------- */

/*
	Sergio Pomárico Resume
	Author : Sergio Pomárico Hernández
	Copyright 2016
*/

/*         Table of Content
=======================================

	1. Body and Core CSS
	2. Profile
	3. Menu
	4. Content
	5. About Page
	6. Resume Page
	7. Portfolio Page
  8. Responsive

=======================================


------------------------ 1 Body and Core CSS ------------------------*/
*:focus {
  outline: 0;
}

body {
  background: url(../img/bg.png) $bg center fixed;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

a {
  color: #7F7F7F;
  text-decoration: none;
  &:focus,
  &:active {
    outline: none;
    text-decoration: none;
  }
  &:hover{
		color: $indigo;
	}
}

main {
  display: grid;
  grid-gap: 1.875rem;
  grid-template-columns: 1fr 3fr;
  margin: 3.75rem auto;
  max-width: 1140px;
}

nav {
  background: $white;
  box-shadow: $shadow;
  width: 100%;
}

ul {
  padding-left: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

p {
  font-size: 0.875rem;
  margin-top: 0;
  margin-bottom: 0;
}

/*---------- Preloader ----------*/

#preloader {
  align-items: center;
  background-color: $indigo;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  opacity: 0;
  top: 0;
  transition: all ease-in-out 750ms;
  width: 100%;
  z-index: -1;
}

.show {
  opacity: 1 !important;
  z-index: 99 !important;
}

/*------------------------ 2 Profile ------------------------*/

.profile-image {
  width: 100%;
  box-shadow: $shadow;
  img {
    width: 100%;
  }
}

.profile-info {
  background: $white;
  box-shadow: $shadow;
  text-align: center;
  h1 {
    font-weight: 900;
    font-size: 1.25rem;
  }
  .social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.25rem;
    a {
      align-items: center;
      border: solid 1px $lightGray;
      border-radius: 50%;
      color: $lightGray;
      display: flex;
      font-size: 0.8rem;
      height: 2.25rem;
      justify-content: center;
      width: 2.25rem;
      &:hover {
        color: $white;
        border-color: $indigo;
        transition: all ease-in-out 0.5s;
      }
    }
  }
}

.name-job {
  border-bottom: 1px dashed $border;
  padding: 1.6em 0;
}

.job {
  color: $lightenGray;
  font-weight: 400;
  line-height: 1.875rem;
}

/*------------------------ 3  Menu ------------------------*/

.menu {
  ul {
    display: flex;
    flex-direction: row;
    li {
      border-right: 1px dashed $border;
      flex: 1;
      list-style: none;
      text-align: center;
      &:last-child {
        border-right: 0;
      }
      a {
        color: $black;
        display: flex;
        flex-direction: column;
        padding: 45px 0;
        &:hover {
          color: $white;
          transition: all ease-in-out 0.5s;
        }
        &:focus {
          color: $white;
        }
        i {
          font-size: 2rem;
        }
        span {
          margin-top: 1rem;
        }
      }
    }
  }
}

/*------------------------ 4 Content ------------------------*/

.tab-container {
  position: relative;
}

.content {
  background: $white;
  box-shadow: $shadow;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 1.875rem;
  position: absolute;
  opacity: 0;
  transform: scale(0);
  transition: 1s;
  &::after {
    position: absolute;
    content: "";
    bottom: -3.75rem;
    height: 3.75rem;
    width: 1px;
  }
}

.active {
  opacity: 1;
  transform: scale(1);
}

.page-title {
  border-bottom: 1px dashed $border;
  padding: 2rem;
  h2 {
    color: $indigo;
    font-weight: bold;
    font-size: 1.25rem;
    margin: 0;
  }
}

.page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1.875rem  1.875rem 0  1.875rem;
}

.section-title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 1.875rem;
}

.footer {
  border-top: 1px dashed $border;
  padding: 1.2rem 0;
  text-align: center;
  width: 100%;
  p {
    color: $lightenGray;
  }
}

/*------------------------ 5 About Page ------------------------*/

.about-info {
  width: 30%;
  .info-list {
    li {
      color: $lightenGray;
      font-size: 0.875rem;
      margin-bottom: 1rem;
      a {
        align-items: center;
        display: flex;
        i {
          margin-right: 1rem;
        }
      }
    }
  }
}

.my-skills {
  width: 70%;
  .skill-list {
    h3 {
      color: $black;
      display: block;
      font-weight: bold;
      font-size: 0.875rem;
      margin-bottom: 0;
    }
    .progress {
      background: $white;
      border: 1px solid $indigo;
      border-radius: 3.125rem;
      display: block;
      height: 6px;
      margin: 1rem 0;
      position: relative;
      overflow: visible;
      width: 100%;
      .percentage {
        background-color:  $indigo;
        border-radius: 3.125rem 0 0 3.125rem;
        bottom: 0;
        position: absolute;
        top: 0;
        width: 50%;
      }
    }
  }
}

.about-text {
  margin-top: 60px;
  p {
    color: $text;
    line-height: 1.5rem;
    font-size: 0.875rem;
  }
}

.services {
  margin-top: 3rem;
  width: 100%;
  .services-container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 1.5rem;
  }
  .service {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.8rem;
    i {
      align-items: center;
      background-color: $indigo;
      border-radius: 50%;
      color: $white;
      display: flex;
      font-size: 1.875rem;
      height: 3rem;
      justify-content: center;
      margin-right: 10px;
      padding: 6px;
      text-align: center;
      width: 3rem;
    }
    p {
      color: $text;
      margin-top: 0.5rem;
    }
    span {
      display: inline-block;
      font-size: 16px;
      padding-top: 6px;
    }
  }
}

/*------------------------ 6 Resume Page ------------------------*/

.resume-education {
  margin-bottom: 2rem;
}

.rounded-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  width: 3.5rem;
  color: $white;
  border-radius: 50%;
  height: 3.5rem;
  background-color: $indigo;
}

.resume-out {
  padding-left: 25px;
}

.resume-info {
  border-left: 2px solid #e5e5e5;
  padding: 0 0 10px 2rem;
  p {
    color: #7f7f7f;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
}

.info-title {
  font-weight: 600;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  &:after {
    content: "";
    width: 10px;
    height: 10px;
    float: left;
    border-radius: 50px;
    margin: 6px 9px 0 -38px;
    background-color: $indigo;
  }
  &:first-child {
    padding-top: 50px;
  }
  &:last-child {
    border: 0;
    &:after {
      margin: 0px 9px 0 -34px;
    }
  }
}

.info-date {
  font-size: 14px;
  display: block;
  padding: 6px 0;
}

/*------------------------ 7 Error ------------------------*/

.error-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  h1 {
    color: $indigo;
    text-align: center;
    text-transform: uppercase;
  }
  i {
    color: $indigo;
    font-size: 20rem;
  }
  p {
    color: $text;
    font-size: 1.2rem;
    text-align: center;
  }
}

.btn {
  background-color: #3F51B5;
  border-bottom: 2px solid $indigo;
  box-shadow: inset 0 -2px $indigo;
  color: $white;
  cursor: pointer;
  display: block;
  padding: 1rem 2rem;
  text-shadow: 0 1px 2px rgba(0,0,0,0.25);
  &:hover {
    color: $white;
  }
}

/*------------------------ 8 Responsive ------------------------*/

/*Max Width 767px */
@media screen and (max-width: 767px) {
  main {
    grid-template-columns: 1fr;
    margin-top: 5%;
  }
  main, .menu, .content, .profile {
    width: 100%;
  }
  .icon-text {
    display: none;
  }
  .about-info, .my-skills {
    width: 100%;
  }
  .services-container {
    grid-template-columns: 1fr !important;
  }
}
