<!-- About Me-->
<div id="about" class="content col-md-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
    <div class="row">
        <div class="page-title">
            <h2>About Me </h2>
        </div>
        <div class="col-md-12 page">
            <!-- Info -->
            <div class="col-md-4 about-info">
                <h2 class="section-title">About Info</h2>
                <ul class="info-list">
                    <li>Full Name : <span>Sergio Pomárico Hernández</span> </li>
                    <li>Birthday : <span>21 October 1992</span> </li>
                    <li>Job : <span>Frelancer</span> </li>
                    <li>Website : <span><a href="www.wagglio.co">www.wagglio.co</a></span> </li>
                    <li>Email : <span><a href="mailto:sergiodavid21@gmail.com">sergiodavid21@gmail.com</a></span> </li>
                    <li>Skype : <span>sergiodavid1021</span> </li>
                </ul>
            </div>

            <!-- Skills List -->
            <div class="col-md-8 my-skills">
                <h2 class="section-title">My Skills</h2>
                <ul class="skill-list">
                    <li>
                        <h3>Photoshop</h3>
                        <div class="progress">
                            <div id="photoshop" class="percentage" style="width:0%;"></div>
                        </div>
                    </li>
                    <li>
                        <h3>HTML5</h3>
                        <div class="progress">
                            <div id="html" class="percentage" style="width:0%;"></div>
                        </div>
                    </li>
                    <li>
                        <h3>CSS</h3>
                        <div class="progress">
                            <div id="css" class="percentage" style="width:0%;"></div>
                        </div>
                    </li>
                    <li>
                        <h3>Javascript</h3>
                        <div class="progress">
                            <div id="javascript" class="percentage" style="width:0%;"></div>
                        </div>
                    </li>
                    <li>
                        <h3>PHP & MySQL</h3>
                        <div class="progress">
                            <div class="percentage" id="php" style="width:0%;"></div>
                        </div>
                    </li>
                    <li>
                        <h3>NodeJS</h3>
                        <div class="progress">
                            <div class="percentage" id="node" style="width:0%;"></div>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Description -->
            <div class="col-md-12 about-text">
                <h2 class="section-title">I’m Web Designer</h2>
                <p>Donec pulvinar feugiat dui vel egestas. Nulla sit amet risus risus. Nulla auctor libero vitae erat posuere, sit amet viverra turpis lobortis. Nullam eleifend cursus tellus a egestas. Donec at elementum orci. Lorem ipsum dolor. <br/><br/>
Aliquam ut purus ex. Aliquam interdum convallis gravida. Curabitur malesuada cursus felis, non molestie odio consequat id. Donec at elementum orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae molestie eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec pulvinar feugiat dui vel egestas. Nulla sit amet risus risus. Nulla auctor libero vitae erat posuere, sit amet viverra turpis lobortis. Nullam eleifend cursus tellus a egestas.  </p>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 services">
                <h2 class="section-title">What I’m Doing</h2>
                <div class="service col-md-4 col-sm-6 hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1b">
                    <i class="ion-social-nodejs"></i>
                    <span>
                        <b>Web applications</b>
                        <p>Duis vitae odio gravida</p>
                    </span>
                </div>
                <div class="service col-md-4 col-sm-6">
                    <i class="ion-social-angular-outline"></i>
                    <span>
                        <b>Web Design</b>
                        <p>Mauris eleifend dapibus</p>
                    </span>
                </div>
                <div class="service col-md-4 col-sm-6">
                    <i class="ion-images"></i>
                    <span>
                        <b>Illustrations</b>
                        <p>Posuere ac sem nec</p>
                    </span>
                </div>
                <div class="service col-md-4 col-sm-6">
                    <i class="ion-code-working"></i>
                    <span>
                        <b>Development</b>
                        <p>Curabitur euismod sapien</p>
                    </span>
                </div>
                <div class="service col-md-4 col-sm-6">
                    <i class="ion-ios-search-strong"></i>
                    <span>
                        <b>Seo Optimization</b>
                        <p>Etiam vitae condimentum</p>
                    </span>
                </div> <!-- .service .col-md-4 .col-sm-6 end -->
                <div class="service col-md-4 col-sm-6">
                    <i class="ion-help-buoy"></i>
                    <span>
                        <b>Support</b>
                        <p>Support and maintenance <br>of websites</p>
                    </span>
                </div>
            </div>

            {% include footer.html %}
        </div>
    </div>
</div>
