<!-- About Me-->
<div id="about" class="content active">
  <div class="page-title">
    <h2>Acerca de Mi</h2>
  </div>
  <div class="page">
  <!-- Info -->
    <div class="about-info">
      <h2 class="section-title">Información Básica</h2>
      <ul class="info-list">
        <li><span><a href="https://codeo.co">www.codeo.co</a></span></li>
        <li>
          <a hreflang="es" href="mailto:sergiodavid21@gmail.com" ><i class="icon gmail"></i>&nbsp; sergiodavid21@gmail.com</a>
        </li>
        <li><i class="icon whatsapp"></i>&nbsp;<span><a href="tel:3015660438">+57 3015660438</a></span></li>
      </ul>
    </div>
    <!-- Skills List -->
    <div class="my-skills">
      <h2 class="section-title">Mis Habilidades</h2>
      <ul class="skill-list">
        <li>
          <h3>Javascript (VanillaJS, Angular, ReactJS)</h3>
          <div class="progress">
            <div id="javascript" class="percentage"></div>
          </div>
        </li>
        <li>
          <h3>PHP & MySQL</h3>
          <div class="progress">
            <div class="percentage" id="php" style="width:0%;"></div>
          </div>
        </li>
        <li>
          <h3>NodeJS (Express, Mongo DB)</h3>
          <div class="progress">
            <div class="percentage" id="node" style="width:0%;"></div>
          </div>
        </li>
        <li>
          <h3>Analítica Digital</h3>
          <div class="progress">
            <div id="analitica" class="percentage" style="width:0%;"></div>
          </div>
        </li>
        <li>
          <h3>HTML5 + CSS3</h3>
          <div class="progress">
            <div id="html" class="percentage" style="width:0%;"></div>
          </div>
        </li>
        <li>
          <h3>Aplicaciones Cross Platform (React Native, Flutter)</h3>
          <div class="progress">
            <div id="apps" class="percentage" style="width:0%;"></div>
          </div>
        </li>
      </ul>
    </div>
    <!-- Description -->
    <div class="about-text">
      <h2 class="section-title">Soy Desarrollador Web Full Stack</h2>
      <p>
        Hola mi nombre es Sergio, soy Desarrollador JavaScript, me caracterizo por ser autodidacta y me gusta trabajar en proyectos desafiantes. Creo que JavaScript es la tecnología del futuro por su gran versatilidad, su vibrante comunidad, su ecosistema rico en proyectos interesantes y porque ha dado grandes pasos para dejar de vivir solo en la web e incursionar en el lado del servidor, aplicaciones de escritorios, aplicaciones móviles e incluso en Internet of Things.<br>
        Soy un apasionado de las tecnologías web, con excelentes conocimientos en la parte frontend (HTML5, CSS3, JS, Responsive Desing, Angular, ReactJS), en la parte del backend me centro en la creación de servicios REST o GraphQL usando tecnologías JavaScript del lado del servidor (Node.js, Express, Apollo, etc) junto a bases de datos no relacionales (MongoDB, Redis) y relacionales (MySQL, PostgreSQL), en cuanto al desarrollo móvil, manejo frameworks para desarrollo de aplicaciones Cross Platform con React Native y Flutter.
      </p>
    </div>
    <div class="services">
      <h2 class="section-title">Lo que hago</h2>
      <div class="services-container">
        <div class="service">
          <i class="icon node-js"></i>
          <span>
            <b>Backend Development</b>
            <p>con NodeJS</p>
          </span>
        </div>
        <div class="service">
          <i class="icon js"></i>
          <span>
            <b>Aplicaciones Cross Platform</b>
            <p>con React Native, Flutter</p>
          </span>
        </div>
        <div class="service">
          <i class="icon react"></i>
          <span>
            <b>Frontend Development</b>
            <p>Progresive Web Apps con ReactJS</p>
          </span>
        </div>
        <div class="service">
          <i class="icon smartphone"></i>
          <span>
            <b>Development</b>
            <p>Desarrollo con JavaScript (VanillaJS)</p>
          </span>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </div>
</div>
