<!-- About Me-->
<div id="about" class="content col-md-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="500ms">
    <div class="row">
        <div class="page-title">
            <h2>About Me </h2>
        </div>
        <div class="col-md-12 page">
            <!-- Info -->
            <div class="col-md-4 about-info">
                <h2 class="section-title">About Info</h2>
                <ul class="info-list">
                    <li>Full Name : <span>Sergio Pomárico Hernández</span> </li>
                    <li>Birthday : <span>21 October 1992</span> </li>
                    <li>Job : <span>Freelancer</span> </li>
                    <li>Website : <span><a href="www.wagglio.co">www.wagglio.co</a></span> </li>
                    <li>Email : <span><a href="mailto:sergiodavid21@gmail.com">sergiodavid21@gmail.com</a></span> </li>
                    <li>Skype : <span>sergiodavid1021</span> </li>
                </ul>
            </div>

            <!-- Skills List -->
            <div class="col-md-8 my-skills">
                <h2 class="section-title">My Skills</h2>
                <ul class="skill-list">
                    <li>
                        <h3>Photoshop</h3>
                        <div class="progress">
                            <div id="photoshop" class="percentage" style="width:0%;"></div>
                        </div>
                    </li>
                    <li>
                        <h3>HTML5</h3>
                        <div class="progress">
                            <div id="html" class="percentage" style="width:0%;"></div>
                        </div>
                    </li>
                    <li>
                        <h3>CSS</h3>
                        <div class="progress">
                            <div id="css" class="percentage" style="width:0%;"></div>
                        </div>
                    </li>
                    <li>
                        <h3>Javascript</h3>
                        <div class="progress">
                            <div id="javascript" class="percentage" style="width:0%;"></div>
                        </div>
                    </li>
                    <li>
                        <h3>PHP & MySQL</h3>
                        <div class="progress">
                            <div class="percentage" id="php" style="width:0%;"></div>
                        </div>
                    </li>
                    <li>
                        <h3>NodeJS</h3>
                        <div class="progress">
                            <div class="percentage" id="node" style="width:0%;"></div>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Description -->
            <div class="col-md-12 about-text">
                <h2 class="section-title">I’m Web Developer Full Stack</h2>
                <p>
                    hello my name is Sergio, i'm Administrator Engineer from National University of Colombia, Web Developer Full Stack and entrepreneur, currently i'm working in my own project named Wagglio. I'm self taught and always like to learn new things and work on challenging projects. <br>
                    I'm passionate of web technologies more focused on the frontend part (HTML5, CSS3, JS, Responsive Desing, AngularJS, Jquery) both development and design, but i like the backend too, especially the technology server-side javascript (Node.js, MongoDB). I believe that javascript is the language of the future for their versatility. I kwon others web technologies as PHP, MySQL and CMS' s and frameworks based on these technologies (Wordpress, Lavarel, etc...)
                </p>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 services">
                <h2 class="section-title">What I Do</h2>
                <div class="service col-md-4 col-sm-6 hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1b">
                    <i class="ion-social-nodejs"></i>
                    <span>
                        <b>Backend Development</b>
                        <p>Real time app</p>
                    </span>
                </div>
                <div class="service col-md-4 col-sm-6">
                    <i class="ion-social-angular-outline"></i>
                    <span>
                        <b>Frontend Development</b>
                        <p>single pages apps</p>
                    </span>
                </div>
                <div class="service col-md-4 col-sm-6">
                    <i class="ion-images"></i>
                    <span>
                        <b>Illustrations</b>
                        <p>Prototyping and design</p>
                    </span>
                </div>
                <div class="service col-md-4 col-sm-6">
                    <i class="ion-code-working"></i>
                    <span>
                        <b>Development</b>
                        <p>in other languages (PHP)</p>
                    </span>
                </div>
                <div class="service col-md-4 col-sm-6">
                    <i class="ion-ios-search-strong"></i>
                    <span>
                        <b>Seo Optimization</b>
                        <p>SEO audits</p>
                    </span>
                </div> <!-- .service .col-md-4 .col-sm-6 end -->
                <div class="service col-md-4 col-sm-6">
                    <i class="ion-help-buoy"></i>
                    <span>
                        <b>Support</b>
                        <p>Support and maintenance <br>of websites</p>
                    </span>
                </div>
            </div>

            {% include footer.html %}
        </div>
    </div>
</div>
