<!-- Blog -->
<div id="blog" class="content col-md-12">
    <div class="row">
        <div class="page-title">
            <h2>Ultimos Post </h2>
        </div>
        <div class="col-md-12 page">
            {% for post in site.posts %}
            <div class="col-md-12 blog-post">
                <div class="post-title">
                    <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
                </div>
                <div class="post-info">
                    <span>Escrito el {{ post.date | date: "%B %e, %Y" }}</span>
                </div>
                <p>{{ post.excerpt }}</p>
                <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
            </div>
            {% endfor %}

            {% include footer.html %}
        </div>
    </div>
</div>
