<!--Contact Content-->
<div id="contact" class="content col-md-12">
    <div class="row">
        <div class="page-title">
            <h2>Contacto </h2>
        </div>
        <div class="col-md-12 page">
            <!-- Contact Form -->
            <form class="col-md-6 contact-form"  method="POST" action="https://formspree.io/sergiodavid21@gmail.com">
                <h2 class="section-title">Escríbeme</h2>
                <!--Name-->
                <input name="name" class="form-input requie" type="text" placeholder="Nombre"  />
                <!--Email-->
                <input id="con_email" name="email" class="form-input requied" type="email" placeholder="Email" />
                <!--Message-->
                <textarea name="con_message" id="message" class="requied" placeholder="Mensaje" rows="8"></textarea>
                <input id="con_submit" class="indigo-button" type="submit" value="ENVIAR MENSAJE">
            </form>
            <!-- Contact Information -->
            <div class="col-md-6 contact-info">
                <h2 class="section-title">Información de Contacto</h2>
                <ul class="info-list">
                    <li>Dirección : <span>Calle 73 # 67 - 43 dpto 401 Medellín, Colombia</span> </li>
                    <li>Teléfono : <span>+57 301 5660438</span> </li>
                    <!-- <li>Website : <span>www.wagglio.co</span> </li> -->
                    <li>Email : <span>sergiodavid21@gmail.com</span> </li>
                    <li>Skype : <span>sergiodavid1021</span> </li>
                </ul>
            </div>
            
            <!--footer-->
            {% include footer.html%}

        </div>
    </div>
</div>
