<!--Top Menu -->
<ul class="menu wow fadeInRight" data-wow-duration="1s" data-wow-delay="500ms">
    <li> <a id="menu-about" class="hvr-bounce-to-right" href="{{ site.baseurl }}/#about"><i class="ion-ios-personadd"></i> <br/> <span class="hidden-xs"> Sobre Mi </span></a></li>
    <li> <a id="menu-resume" class="hvr-bounce-to-right" href="{{ site.baseurl }}/#resume"><i class="ion-ios-paper"></i> <br/> <span class="hidden-xs"> Mi Curriculum </span></a></li>
    <li> <a id="menu-portfolio" class="hvr-bounce-to-right" href="{{ site.baseurl }}/#portfolio"><i class="ion-ios-photos"></i> <br/> <span class="hidden-xs"> Portafolío</span></a></li>
    <li> <a id="menu-blog" class="hvr-bounce-to-right" href="{{ site.baseurl }}/#blog"><i class="ion-ios-chatboxes"></i> <br/> <span class="hidden-xs"> Blog</span></a></li>
    <li> <a id="menu-contact" class="hvr-bounce-to-right" href="{{ site.baseurl }}/#contact"><i class="ion-ios-email"></i> <br/> <span class="hidden-xs"> Contacto </span></a></li>
</ul>
