<!--Top Menu -->
<nav class="menu">
  <ul>
    <li>
      <a class="menu-item sweep-to-right" hreflang="es" href="javascript:void(0)" data-tab="about">
        <i class="icon user"></i>
        <span class="icon-text">Sobre Mi</span>
      </a>
    </li>
    <li>
      <a class="menu-item sweep-to-right" hreflang="es" href="javascript:void(0)" data-tab="resume">
        <i class="icon files"></i>
        <span class="icon-text">Mi Curriculum</span>
      </a>
    </li>
    <!-- <li>
      <a class="menu-item sweep-to-right" hreflang="es" href="javascript:void(0)" data-tab="portfolio">
        <i class="icon briefcase"></i>
        <span class="icon-text">Portafolío</span>
      </a>
    </li> -->
    <li>
      <a hreflang="es" class="sweep-to-right menu-item" href="https://codeo.co">
        <i class="icon blog"></i>
        <span class="icon-text">Blog</span>
      </a>
    </li>
  </ul>
</nav>
