<!--Top Menu -->
<nav>
  <ul class="menu">
    <li>
      <a id="menu-about" class="menu-item sweep-to-right" hreflang="es" href="javascript:void(0)">
        <i class="icon user"></i>
        <span>Sobre Mi</span>
      </a>
    </li>
    <li>
      <a id="menu-resume" class="menu-item sweep-to-right" hreflang="es" href="javascript:void(0)">
        <i class="icon files"></i>
        <span>Mi Curriculum</span>
      </a>
    </li>
    <li>
      <a id="menu-portfolio" class="menu-item sweep-to-right" hreflang="es" href="javascript:void(0)">
        <i class="icon briefcase"></i>
        <span>Portafolío</span>
      </a>
    </li>
    <li>
      <a hreflang="es" class="sweep-to-right menu-item" href="https://codeo.co">
        <i class="icon blog"></i>
        <span>Blog</span>
      </a>
    </li>
  </ul>
</nav>
