<!-- Portfolio -->
<div id="portfolio" class="content col-md-12">
    <div class="row">
        <div class="page-title">
            <h2>Portafolío </h2>
            <div class="portfolio_filter pull-right">
                <ul>
                    <li class="select-cat" data-filter="*">Todos</li>
                    <li data-filter=".web-design">Web Design</li>
                    <li data-filter=".aplication">Aplicaciones</li>
                    <li data-filter=".development">Desarrollo</li>
                </ul>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 pagepage">
            <div class="portfolio_items">

                <div class="single_item web-design col-md-6 col-sm-12 col-xs-12">
                    <div class="work-inner">
                        <div class="work-overlay">
                            <h3> Gamma Risk website </h3>
                            <p>Empresa de consultoría e ingeniería civil</p>
                            <a hreflang="es" href="http://www.gammarisk.com.co/" class="link"><i class="fa fa-link"></i></a>
                            <a  hreflang="es" href="img/work-1.jpg" class="image-link lightbox img-responsive"> <i class="fa fa-search"></i></a>
                        </div>
                        <img src="img/t-work-1.jpg" alt="Gamma Risk website" class="img-responsive"/>
                    </div>
                </div>

                <div class="single_item web-design col-md-6 col-sm-12 col-xs-12">
                    <div class="work-inner">
                        <div class="work-overlay">
                            <h3> Contructora CAO </h3>
                            <p>Empresa de Construcción y Obras Civiles</p>
                            <a hreflang="es" href="http://constructoracaosas.com/" class="link"><i class="fa fa-link"></i></a>
                            <a hreflang="es" href="img/work-5.jpg" class="image-link lightbox"> <i class="fa fa-search"></i></a>
                        </div>
                        <img src="img/t-work-5.jpg" alt="" class="img-responsive"/>
                    </div>
                </div>

                <div class="single_item developmen web-design col-md-6 col-sm-12 col-xs-12">
                    <div class="work-inner">
                        <div class="work-overlay">
                            <h3> N-Air </h3>
                            <p>E-commerce hecho en laravel y PayPal</p>
                            <a hreflang="es" href="http://serene-plateau-54270.herokuapp.com" class="link"><i class="fa fa-link"></i></a>
                            <a hreflang="es" href="img/work-6.png" class="image-link lightbox"> <i class="fa fa-search"></i></a>
                        </div>
                        <img src="img/t-work-6.png" alt="" class="img-responsive"/>
                    </div>
                </div>

                <div class="single_item web-design col-md-6 col-sm-12 col-xs-12">
                    <div class="work-inner">
                        <div class="work-overlay">
                            <h3> Wagglio </h3>
                            <p>landing page para la startup colombian  Wagglio  </p>
                            <a hreflang="es" href="http://wagglio.co/" class="link"><i class="fa fa-link"></i></a>
                            <a hreflang="es" href="img/work-2.jpg" class="image-link lightbox"> <i class="fa fa-search"></i></a>
                        </div>
                        <img src="img/t-work-2.jpg" alt="wagglio" class="img-responsive"/>
                    </div>
                </div>

                <div class="single_item web-design col-md-6 col-sm-12 col-xs-12">
                    <div class="work-inner">
                        <div class="work-overlay">
                            <h3> Karlene Punancy </h3>
                            <p>Abogada de inmigración en miami  </p>
                            <a hreflang="es" href="http://www.karlenepunancy.com/" class="link"><i class="fa fa-link"></i></a>
                            <a hreflang="es" href="img/work-3.jpg" class="image-link lightbox"> <i class="fa fa-search"></i></a>
                        </div>
                        <img src="img/t-work-3.jpg" alt="" class="img-responsive"/>
                    </div>
                </div>

                <div class="single_item web-design col-md-6 col-sm-12 col-xs-12">
                    <div class="work-inner">
                        <div class="work-overlay">
                            <h3> American Master Academy </h3>
                            <p>Escuela Cristiana en Pembroke Pines Fl.</p>
                            <a href="http://amaofl.com/" class="link"><i class="fa fa-link"></i></a>
                            <a href="img/work-4.jpg" class="image-link lightbox"> <i class="fa fa-search"></i></a>
                        </div>
                        <img src="img/t-work-4.jpg" alt="" class="img-responsive"/>
                    </div>
                </div>

            </div>
            {% include footer.html %}
        </div>
    </div>
</div>
