<!-- Portfolio -->
<div id="portfolio" class="content">
    <div class="row">
        <div class="page-title">
            <h2>Portafolío </h2>
            <div class="portfolio_filter pull-right">
                <ul>
                    <li class="select-cat" data-filter="*">Todos</li>
                    <li data-filter=".web">Web</li>
                    <li data-filter=".app">Aplicaciones</li>
                </ul>
            </div>
        </div>
        <div class="page">
            <div class="portfolio_items">
                <div class="single_item web">
                    <div class="work-inner">
                        <div class="work-overlay">
                            <h3> Gamma Risk website </h3>
                            <p>Empresa de consultoría e ingeniería civil</p>
                            <a hreflang="es" href="http://www.gammarisk.com.co/" class="link"><i class="fa fa-link"></i></a>
                            <a  hreflang="es" href="img/work-1.jpg" class="image-link lightbox img-responsive"> <i class="fa fa-search"></i></a>
                        </div>
                        <img src="img/t-work-1.jpg" alt="Gamma Risk website" class="img-responsive"/>
                    </div>
                </div>

                <div class="single_item web col-md-6 col-sm-12 col-xs-12">
                    <div class="work-inner">
                        <div class="work-overlay">
                            <h3> Sunset Theme </h3>
                            <p>Tema personalizado para wordpress</p>
                            <a hreflang="es" href="https://github.com/sdpomaricoh/sunset_theme" class="link"><i class="fa fa-link"></i></a>
                            <a hreflang="es" href="img/work-5.jpg" class="image-link lightbox"> <i class="fa fa-search"></i></a>
                        </div>
                        <img src="img/t-work-5.jpg" alt="" class="img-responsive"/>
                    </div>
                </div>

                <div class="single_item web web col-md-6 col-sm-12 col-xs-12">
                    <div class="work-inner">
                        <div class="work-overlay">
                            <h3> N-Air </h3>
                            <p>E-commerce hecho en laravel y PayPal</p>
                            <a hreflang="es" href="http://serene-plateau-54270.herokuapp.com" class="link"><i class="fa fa-link"></i></a>
                            <a hreflang="es" href="img/work-6.png" class="image-link lightbox"> <i class="fa fa-search"></i></a>
                        </div>
                        <img src="img/t-work-6.png" alt="" class="img-responsive"/>
                    </div>
                </div>

                <div class="single_item web col-md-6 col-sm-12 col-xs-12">
                    <div class="work-inner">
                        <div class="work-overlay">
                            <h3> Red Social </h3>
                            <p>Web app desarrollada en angular conectada a un servicio rest en NodeJS</p>
                            <a hreflang="es" href="https://github.com/sdpomaricoh/frontend" class="link"><i class="fa fa-link"></i></a>
                            <a hreflang="es" href="https://github.com/sdpomaricoh/social-network-backend" class="link"><i class="fa fa-link"></i></a>
                            <a hreflang="es" href="img/work-2.jpg" class="image-link lightbox"> <i class="fa fa-search"></i></a>
                        </div>
                        <img src="img/t-work-2.jpg" alt="wagglio" class="img-responsive"/>
                    </div>
                </div>

                <div class="single_item web col-md-6 col-sm-12 col-xs-12">
                    <div class="work-inner">
                        <div class="work-overlay">
                            <h3> Dashboard Administrativo </h3>
                            <p> Desarrollado en Angular 6 para gestionar usuarios</p>
                            <a hreflang="es" href="https://github.com/sdpomaricoh/clinical-admin-front" class="link"><i class="fa fa-link"></i></a>
                            <a hreflang="es" href="img/work-3.jpg" class="image-link lightbox"> <i class="fa fa-search"></i></a>
                        </div>
                        <img src="img/t-work-3.jpg" alt="" class="img-responsive"/>
                    </div>
                </div>

                <div class="single_item app col-md-6 col-sm-12 col-xs-12">
                    <div class="work-inner">
                        <div class="work-overlay">
                            <h3> Money Map </h3>
                            <p>App gestionar el ahorro personal, desarrollada en Ionic</p>
                            <a href="https://github.com/sdpomaricoh/money-map" class="link"><i class="fa fa-link"></i></a>
                            <a href="img/work-4.jpg" class="image-link lightbox"> <i class="fa fa-search"></i></a>
                        </div>
                        <img src="img/t-work-4.jpg" alt="" class="img-responsive"/>
                    </div>
                </div>

            </div>
            {% include footer.html %}
        </div>
    </div>
</div>
