<!-- Portfolio -->
<div id="portfolio" class="content col-md-12">
    <div class="row">
        <div class="page-title">
            <h2>Portfolio </h2>
            <div class="portfolio_filter pull-right">
                <ul>
                    <li class="select-cat" data-filter="*">All</li>
                    <li data-filter=".web-design">Web Design</li>
                    <li data-filter=".aplication">Applications</li>
                    <li data-filter=".development">Development</li>
                </ul>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 pagepage">
            <div class="portfolio_items">

                <div class="single_item web-design col-md-6 col-sm-12 col-xs-12">
                    <div class="work-inner">
                        <div class="work-overlay">
                            <h3> Picard Resume Template </h3>
                            <p>Donec pulvinar feugiat dui vel egestas. Nulla sit amet risus risus. Nulla libero vitae... </p>
                            <a href="work-single.html" class="link"><i class="fa fa-link"></i></a>
                            <a href="img/work-1.jpg" class="image-link lightbox"> <i class="fa fa-search"></i></a>
                        </div>
                        <img src="img/t-work-1.jpg" alt="" />
                    </div>
                </div>

                <div class="single_item web-design col-md-6 col-sm-12 col-xs-12">
                    <div class="work-inner">
                        <div class="work-overlay">
                            <h3> Picard Resume Template </h3>
                            <p>Donec pulvinar feugiat dui vel egestas. Nulla sit amet risus risus. Nulla libero vitae... </p>
                            <a href="work-single.html" class="link"><i class="fa fa-link"></i></a>
                            <a href="img/work-2.jpg" class="image-link lightbox"> <i class="fa fa-search"></i></a>
                        </div>
                        <img src="img/t-work-2.jpg" alt="" />
                    </div>
                </div>

                <div class="single_item aplication col-md-6 col-sm-12 col-xs-12">
                    <div class="work-inner">
                        <div class="work-overlay">
                            <h3> Picard Resume Template </h3>
                            <p>Donec pulvinar feugiat dui vel egestas. Nulla sit amet risus risus. Nulla libero vitae... </p>
                            <a href="work-single.html" class="link"><i class="fa fa-link"></i></a>
                            <a href="img/work-3.jpg" class="image-link lightbox"> <i class="fa fa-search"></i></a>
                        </div>
                        <img src="img/t-work-3.jpg" alt="" />
                    </div>
                </div>

                <div class="single_item web-design col-md-6 col-sm-12 col-xs-12">
                    <div class="work-inner">
                        <div class="work-overlay">
                            <h3> Picard Resume Template </h3>
                            <p>Donec pulvinar feugiat dui vel egestas. Nulla sit amet risus risus. Nulla libero vitae... </p>
                            <a href="work-single.html" class="link"><i class="fa fa-link"></i></a>
                            <a href="img/work-4.jpg" class="image-link lightbox"> <i class="fa fa-search"></i></a>
                        </div>
                        <img src="img/t-work-4.jpg" alt="" />
                    </div>
                </div>

            </div>
            {% include footer.html %}
        </div>
    </div>
</div>
