<!-- Profile Informations-->
<div class="profile col-md-3 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="1s">
    <div class="profile-image">
        <img  itemprop="image" src="/{{ site.avatar }}">
    </div>
    <div class="profile-info">
        <div class="name-job">
            <h1 itemprop="name">{{ site.name }}</h1>
            <span class="job">Web Developer Full Stack</span>
        </div><!-- .name-job -->
        <div class="social-icons">
            <a href="https://www.facebook.com/sergiodpomarico/" class="hvr-radial-out"><i class="fa fa-facebook"></i> </a>
            <a href="https://twitter.com/sergio_pomarico/" class="hvr-radial-out"><i class="fa fa-twitter"></i> </a>
            <a href="https://co.linkedin.com/in/sergiopomarico" class="hvr-radial-out"><i class="fa fa-linkedin"></i></a>
            <a itemprop="url" href="https://github.com/sdpomaricoh" class="hvr-radial-out"><i class="fa fa-github"></i></a>
        </div>
    </div>
</div>
