<!-- Profile Informations-->
<div class="profile">
  <div class="profile-image">
    <img src="/{{ site.avatar }}">
  </div>
  <div class="profile-info">
  <div class="name-job">
    <h1>{{ site.name }}</h1>
    <span class="job">Javascript Developer</span>
      </div><!-- .name-job -->
      <div class="social-icons">
        <a hreflang="es" class="radial-out" href="https://www.facebook.com/sergiodpomarico/"><i class="icon facebook"></i> </a>
        <a hreflang="es" class="radial-out" href="https://twitter.com/sergio_pomarico/"><i class="icon twitter"></i> </a>
        <a hreflang="es" class="radial-out" href="https://co.linkedin.com/in/sergiopomarico" ><i class="icon linkedin"></i></a>
        <a hreflang="es" class="radial-out" href="https://github.com/sergio-pomarico"><i class="icon github"></i></a>
      </div>
  </div>
</div>
