<div id="resume" class="content col-md-12">
    <div class="row">
        <div class="page-title">
            <h2>My Resume </h2>
        </div>
        <div class="col-md-12 page">
            <div class="resume-education col-md-12">
                <div class="rounded-icon">
                    <i class="fa fa-graduation-cap"></i>
                </div>
                <div class="resume-out">
                    <div class="resume-info">
                        <h2 class="info-title">Abc University of Los Angeles</h2>
                        <span class="info-date">2010 - Present </span>
                        <p>Morbi nulla arcu, pellentesque sed egestas in, tempor eget felis. Nullam tincidunt augue in leo feugiat, quis interdum nisi sollicitudin. Suspendisse vulputate diam sit amet rutrum dictum. Donec tempus a lectus quis luctus. Vivamus sed maximus justo, sed aliquet purus. Etiam ut velit gravida, mollis turpis nec, tristique erat.</p>
                    </div> <!-- .resume-info -->
                    <div class="resume-info">
                        <h2 class="info-title">Drawing Course</h2>
                        <span class="info-date">2003 - 2004 </span>
                        <p>Duis ipsum ligula, feugiat nec auctor vitae, porta sit amet urna. Praesent ex lorem, porta nec aliquet eu, ullamcorper eget nibh. Vivamus aliquet orci a elementum tincidunt. Etiam sed mi vel nibh varius viverra sed ac <est class=""></est></p>
                    </div> <!-- .resume-info -->
                    <div class="resume-info">
                        <h2 class="info-title">Abc High School</h2>
                        <span class="info-date">2000 - 2003 </span>
                        <p>Morbi nulla arcu, pellentesque sed egestas in, tempor eget felis. Nullam tincidunt augue in leo feugiat, quis interdum nisi sollicitudin. Suspendisse vulputate diam sit amet rutrum dictum. Donec tempus a lectus quis luctus. Vivamus sed maximus justo, sed aliquet purus. Etiam ut velit gravida, mollis turpis nec, tristique erat.</p>
                    </div> <!-- .resume-info -->
                </div> <!-- .resume-out end -->
            </div> <!-- .resume-education .col-md-12 end -->

            <!--Resume Work Timeline-->
            <div class="resume-education col-md-12">
                <div class="rounded-icon">
                    <i class="fa fa-suitcase"></i>
                </div>
                <div class="resume-out">
                    <div class="resume-info">
                        <h2 class="info-title">Art Director - Facebook Inc</h2>
                        <span class="info-date">2004 - 2008 </span>
                        <p>Morbi nulla arcu, pellentesque sed egestas in, tempor eget felis. Nullam tincidunt augue in leo feugiat, quis interdum nisi sollicitudin. Suspendisse vulputate diam sit amet rutrum dictum. Donec tempus a lectus quis luctus. Vivamus sed maximus justo, sed aliquet purus. Etiam ut velit gravida, mollis turpis nec, tristique erat.</p>
                    </div> <!-- .resume-info -->
                    <div class="resume-info">
                        <h2 class="info-title">Web Designer - Google Inc</h2>
                        <span class="info-date">2008 - 2010 </span>
                        <p>Duis ipsum ligula, feugiat nec auctor vitae, porta sit amet urna. Praesent ex lorem, porta nec aliquet eu, ullamcorper eget nibh. Vivamus aliquet orci a elementum tincidunt. Etiam sed mi vel nibh varius viverra sed ac <est class=""></est></p>
                    </div> <!-- .resume-info -->
                    <div class="resume-info">
                        <h2 class="info-title">Senior Developer - Abc Inc</h2>
                        <span class="info-date">2005 - 2008 </span>
                        <p>Morbi nulla arcu, pellentesque sed egestas in, tempor eget felis. Nullam tincidunt augue in leo feugiat, quis interdum nisi sollicitudin. Suspendisse vulputate diam sit amet rutrum dictum. Donec tempus a lectus quis luctus. Vivamus sed maximus justo, sed aliquet purus. Etiam ut velit gravida, mollis turpis nec, tristique erat.</p>
                    </div> <!-- .resume-info -->
                </div> <!-- .resume-out end -->
            </div> <!-- .resume-education .col-md-12 end -->
            {% include footer.html %}
        </div>
    </div>
</div>
