<div id="resume" class="content col-md-12">
    <div class="row">
        <div class="page-title">
            <h2>Mi Curriculum</h2>
        </div>
        <div class="col-md-12 page">
            <div class="resume-education col-md-12">
                <div class="rounded-icon">
                    <i class="fa fa-graduation-cap"></i>
                </div>
                <div class="resume-out">
                    <div class="resume-info">
                        <h2 class="info-title">Ingeniería Administrativa - <a href="http://unal.edu.co/">Universidad Nacional de Colombia</a></h2>
                        <span class="info-date">2010 - Present</span>
                    </div>
                    <div class="resume-info">
                        <h2 class="info-title">Web Developer - <a href="https://www.nextuniversity.com">Next University</a></h2>
                        <span class="info-date">2015 - 2016</span>
                        <p>Habilidades básicas para el desarrollo de habilidades de programación frontend y backend y diseño esencial para crear sitios web dinámicos usando HTML5, CSS3 y JavaScript y tecnologías PHP lado del servidor <br> para más información consulte este <a href="https://goo.gl/qYN4OJ">enlace</a> </p>
                    </div>
                </div>
            </div>

            <!--Resume Work Timeline-->
            <div class="resume-education col-md-12">
                <div class="rounded-icon">
                    <i class="fa fa-suitcase"></i>
                </div>
                <div class="resume-out">
					<div class="resume-info">
                        <h2 class="info-title">Web Developer - <a href="http://www.e-volution.com.co/">e-volution</a></h2>
                        <span class="info-date">2016 - 2017</span>
                        <p>Desarrollos web a la medida para sitios corporativos construidos bajo cms basados en PHP y JavaScript<est class=""></est></p>
                    </div> <!-- .resume-info -->
                    <div class="resume-info">
                        <h2 class="info-title">Web Developer - <a href="http://www.parexton.com/">Parexton</a></h2>
                        <span class="info-date">2015 - 2016</span>
                        <p>Diseño y desarrollo de sitios web para empresas en el estado de Florida EE.UU., Apoyo y mantenimiento de sitios web corporativos basados en HTML, CSS3, JavaScript, PHP, CMS, ecommerce y auditorías SEO.<est class=""></est></p>
                    </div> <!-- .resume-info -->
                    <div class="resume-info">
                        <h2 class="info-title">CWO/CDO – <a href="http://wagglio.co/">Wagglio</a></h2>
                        <span class="info-date">2016 - 2017</span>
                        <p>Coordinar e implementar el diseño y desarrollo de todas las plataformas web para <a ref="https://wagglio.co/" >Wagglio</a>, desarrollando publicidad y otros elementos materiales de la imagen corporativa de la empresa<est class=""></est></p>
                    </div> <!-- .resume-info -->
                </div>
            </div>

			<!--Resume Work Timeline-->
            <div class="resume-education col-md-12">
                <div class="rounded-icon">
                    <i class="fa fa-trophy"></i>
                </div>
                <div class="resume-out">
                    <div class="resume-info">
                        <h2 class="info-title" itemprop="awards">Ganador 13va Edición  - <a href="http://www.capitalsemillamedellin.co/">Capital Semilla</a></h2>
                        <span class="info-date">2016</span>
                        <p>Programa de CREAME para fomentar la creación de empresas en Medellín</p>
                    </div> <!-- .resume-info -->
                    <div class="resume-info">
                        <h2 class="info-title" itemprop="awards">Finalista 8va - <a href="https://apps.co">Apps.co</a></h2>
                        <span class="info-date">2016</span>
                        <p>Convocatoria a equipos emprendedores – Fase Descubrimiento de Negocios TIC<est class=""></est></p>
                    </div> <!-- .resume-info -->
                </div>
            </div>
            {% include footer.html %}
        </div>
    </div>
</div>
