<div id="resume" class="content">
  <div class="page-title">
      <h2>Mi Curriculum</h2>
  </div>
  <div class="page">
    <!--Resume Work Timeline-->
    <div class="resume-education">
      <div class="rounded-icon">
        <i class="icon briefcase"></i>
      </div>
      <div class="resume-out">
        <div class="resume-info">
          <h2 class="info-title">Frontend Engeneer – <a href="https://www.tyba.com.co/">tyba</a></h2>
          <span class="info-date">2019 - Presente</span>
          <p>Soporte y desarrollo de nuevas funcionalidades en React Native/Flutter para la app móvil de tyba. Desarrollo y soporte de backoffices de gestion de operaciones basado en React.</p>
        </div> <!-- .resume-info -->
        <div class="resume-info">
          <h2 class="info-title">Mobile Developer – <a href="https://scalapro.com.mx/">Scala Pro</a></h2>
          <span class="info-date">2018 - 2019</span>
          <p>Soporte y desarrollo de nuevas funcionalidades en React Native para la app de gestion de proyectos y clientes para contratistas Scala Pro.</p>
        </div> <!-- .resume-info -->
        <div class="resume-info">
          <h2 class="info-title">Full Stack Developer – <a href="http://lm.net.co/">LM Estudio Web</a></h2>
          <span class="info-date">2017 - 2018</span>
          <p>Desarrollo de intranets e intrapps basadas en tecnologías JavaScript (backend en nodejs y frontend con angular o ionic ), desarrollos a la medida para sitios webs basados en Wordpress y auditorias seo</p>
        </div> <!-- .resume-info -->
        <div class="resume-info">
          <h2 class="info-title">Web Developer - <a hreflang="es" href="http://www.e-volution.com.co/">e-volution</a></h2>
          <span class="info-date">2016 - 2017</span>
          <p>Desarrollos web a la medida para sitios corporativos construidos bajo cms basados en PHP y single pages apps basadas en JavaScript<est class=""></est></p>
        </div> <!-- .resume-info -->
        <div class="resume-info">
          <h2 class="info-title">Web Developer - <a hreflang="es" href="http://www.parexton.com/">Parexton</a></h2>
          <span class="info-date">2015 - 2016</span>
          <p>Diseño y desarrollo de sitios web para empresas en el estado de Florida EE.UU., Apoyo y mantenimiento de sitios web corporativos basados en HTML, CSS3, JavaScript, PHP, CMS, ecommerce y auditorías SEO.<est class=""></est></p>
        </div> <!-- .resume-info -->
        </div>
    </div>

    <!--Resume Work Timeline-->
    <div class="resume-education">
      <div class="rounded-icon">
        <i class="fa fa-trophy"></i>
      </div>
      <div class="resume-out">
        <div class="resume-info">
          <h2 class="info-title">Ganador 13va Edición  - <a  hreflang="es" href="http://www.capitalsemillamedellin.co/">Capital Semilla</a></h2>
          <span class="info-date">2016</span>
          <p>Programa de CREAME para fomentar la creación de empresas en Medellín</p>
        </div> <!-- .resume-info -->
        <div class="resume-info">
          <h2 class="info-title">Finalista 8va - <a hreflang="es" href="https://apps.co">Apps.co</a></h2>
          <span class="info-date">2016</span>
          <p>Convocatoria a equipos emprendedores – Fase Descubrimiento de Negocios TIC<est class=""></est></p>
        </div> <!-- .resume-info -->
      </div>
    </div>
    {% include footer.html %}
  </div>
</div>
