//
// VARIABLES
//

// Colors
$indigo: #303F9F;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #2A2A2A;
$white: #fff;

// Font stacks
$lato: 'Lato', sans-serif;

@import "libs/lato";
@import "libs/font-awesome";
@import "libs/ionicons";
@import "libs/bootstrap";
@import "libs/magnific-popup";
@import "libs/animate";
@import "libs/hover";