//
// VARIABLES
//

// Colors
$indigo: #303F9F;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #2A2A2A;
$lightenGray: #c1c1c1;
$bg: #fafafa;
$border: #cccccc;
$white: #fff;

// Font stacks
$lato: 'Lato', sans-serif;

// Shadow
$shadow: -2px -1px 88px 0px rgba(0,0,0,0.17);
