---
layout: compress
---
<!DOCTYPE html>
<html lang="es">
<head>
  <title>{% if page.title %}{{ page.title }} {% endif %}{{ site.name }}</title>
  {% include meta.html %}
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
  <meta name="google-site-verification" content="JH2f5XQiVwnpCeeZJ0VAl4sSYMQnDuA15mSjOSmr8EQ" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.baseurl }}/feed.xml" />
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/img/favicon.png">
</head>

<body>
  {% include preloader.html %}
  <main>
    {% include profile-info.html %}
    <div class="tab-container">
      {% include menu.html %}
      {{ content }}
    </div>
  </main>
  {% include analytics.html %}

  <!-- configurations of the site  -->
  <script src="{{ site.baseurl }}/js/main.js"></script>
	<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "LocalBusiness",
      "url": "https://sergiopomarico.com/",
      "name" : "Sergio Pomárico Hernández",
      "image" : "https://sergiopomarico.com/img/profile-img.jpg",
      "telephone": "+573015660438",
      "priceRange": "10 USD per hour",
      "contactPoint": [
        { "@type": "ContactPoint",
          "telephone": "+573015660438",
          "contactType": "customer service"
        }
      ]
    }
	</script>
</body>
</html>
