<!DOCTYPE html>
<html lang="es">
  <head>
    <title>
      {% if page.title %}{{ page.title }} {% endif %}{{ site.name }}
    </title>

    {% include meta.html %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
    <meta name="google-site-verification" content="JH2f5XQiVwnpCeeZJ0VAl4sSYMQnDuA15mSjOSmr8EQ" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/img/favicon.png">
  </head>

  <body>
    {% include preloader.html %}
    <main class="error-page">
      <h1>{{ page.title }}</h1>
      <i class="icon error"></i>
      <p>
        Lo sentimos, no podemos encontrar esa página que estás buscando.
      </p>
      <a href="../{{ site.baseurl }}" class="btn">Volver al inicio</a>
    </main>
    {% include analytics.html %}
    <!-- configurations of the site  -->
    <script src="{{ site.baseurl }}/js/main.js"></script>
  </body>
</html>
